.header-container {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: #01aba8;
}

.header-brand {
  margin-right: 30px;
}

.brand-logo {
  height: 60px;
  margin-top: 6px;
  transition: all 0.3s ease;
}
